.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-scorecard {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: calc((880% / 1280) * 100);
  max-width: 880px;
  height: auto;
  padding-top: 3.1%;
  padding-bottom: 3.9%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-id {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: calc((565% / 880) * 100);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profile-id__avatar-frame {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  aspect-ratio: 1;
}

/* SPRINT 12 */
.profile-id__avatar-frame:hover {
  background-image: url("../../images/editImageIcon.png");
  background-repeat: no-repeat;
  background-position: center;
}

.profile-id__avatar {
  object-fit: cover;
  width: 100%;
}

/* SPRINT 12 */
.profile-id__avatar:hover {
  opacity: 30%;
}

.profile-id__add-button {
  padding: 0;
  display: flex;
  align-items: center;
  aspect-ratio: 3;
  background-color: #000;
  border: none;
  width: calc((151% / 880) * 100);
  max-width: 150px;
}

.profile-id__add-button-image {
  width: 100%;
  object-fit: fill;
}

.profile-id__add-button:hover {
  opacity: 60%;
}

.explorer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: calc((415% / 565) * 100);
}

.explorer-info__name-complete {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 142%;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.explorer-info__job {
  margin: 0;
}

.explorer-info__item {
  margin: 0;
}

.explorer-info__tag {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.explorer-info__edit {
  padding: 0;
  margin: 0;
  height: 24px;
  aspect-ratio: 1;
  background-color: black;
  border: none;
}

.explorer-info__edit:hover {
  opacity: 60%;
}

.explorer-info__edit-image {
  height: 100%;
  aspect-ratio: 1;
}

/* ++++++++++  SMALL  max-width: 800px +++++++++ */

@media screen and (max-width: 800px) {
  .profile {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .profile-scorecard {
    padding: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    aspect-ratio: 1.193;

    padding-left: calc((19% / 320) * 100);
    padding-right: calc((19% / 320) * 100);

    padding-top: calc((42% / 364) * 100);
    padding-bottom: calc((36% / 364) * 100);
  }

  .profile-id {
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
  }

  .profile-id__avatar-frame {
    margin-bottom: 11.5%;
  }

  .explorer-info {
    width: 100%;
  }

  .explorer-info__name-complete {
    font-size: 22px;
    justify-content: space-around;
  }

  .explorer-info__job {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 13.5%;
  }

  .profile-id__add-button {
    width: 100%;
    aspect-ratio: 5.64;
    object-fit: fill;
    max-width: 282px;
  }

  .explorer-info__edit {
    height: 18px;
  }

  .profile-id__add-button-image {
    height: 100%;
    object-fit: fill;
  }
}
